@{
    ViewBag.Title = "Files";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
<style>
    #color {
        transition-property: background-color;
        transition-duration: 3s;
    }
</style>

<div id="Upload" style="display:none;">
    <h2>Files</h2>

    <div class="row mb-4">
        <div class="col-md-2" style="padding-bottom:20px">
            <label class="form-label">Select an Excel File  :</label>
        </div>
        <div class="col-md-4">
            <label class="upload-icon" for="importFile" id="color">
                <i class="fas fa-upload"></i>
                Upload an Excel File

            </label>
            <input style="display: none;" class="form-control" type="file" name="importFile" id="importFile" />
        </div>

    </div>
    <div class="row mb-4">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label id="file-name" class="form-label"></label>
        </div>
    </div>
    @*<div class="row mb-4">
            <div class="col-md-2">
                <button class="btn btn-primary" id="btnUpload" type="button">Upload</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-outline-primary" id="btnCancel" type="button" onclick="Clear()">Cancel</button>
            </div>
        </div>*@
</div>
<div id="MyList" style="display:block;">

</div>

<input type="hidden" name="GridHtml" />
<input type="submit" id="btnSubmit" value="Export" />

@section scripts{
    <script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>
    <script>

        $(document).ready(function () {
            $("#Delete_Lay").show();
            List();
            $("#btnSubmit").click(function () {
                var wb = XLSX.utils.book_new();
                var ws = XLSX.utils.table_to_sheet(document.getElementById('employees'));

                var range = XLSX.utils.decode_range(ws['!ref']);
                for (var R = range.s.r; R <= range.e.r; ++R) {
                    for (var C = range.s.c; C <= range.e.c; ++C) {
                        var cellAddress = XLSX.utils.encode_cell({ r: R, c: C });
                        var td = document.getElementById(cellAddress);
                        if (td && td.style.backgroundColor) {
                            XLSX.utils.sheet_set_range_style(ws, cellAddress, { fill: { fgColor: { rgb: td.style.backgroundColor } } });
                        }
                    }
                }

                XLSX.utils.book_append_sheet(wb, ws, "Sheet1");

                XLSX.writeFile(wb, 'table_data.xlsx');
            });
        });

            function showToast(message, type) {
                var toast = $('<div class="toast align-items-center text-white bg-' + type + ' border-0" role="alert" aria-live="assertive" aria-atomic="true">\
                    <div class="d-flex">\
                        <div class="toast-body">' + message + '</div>\
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>\
                    </div>\
                </div>');

                $('.toast-container').append(toast);
                var toastElement = toast[0];
                var toastInstance = new bootstrap.Toast(toastElement);
                toastInstance.show();
            }

        $(document).on("click", "#color", function () {
            var self = this;
            self.style.backgroundColor = '#45cdae';
            setTimeout(function () {
                self.style.backgroundColor = '#0179b6';
            }, 3000);
        });

        $('#importFile').on('change', function () {
            var fileName = $(this).val().split('\\').pop();
            $('#file-name').text(fileName);
        });

        $(document).on("click", "#UploadBtn", function () {
            $('#MyList').hide();
            $('#Upload').show();
        });

        $(document).on("click", "#btnUpload", function () {
            var files = $("#importFile").get(0).files;

            var formData = new FormData();
            formData.append('importFile', files[0]);

            $.ajax({
                url: '/Files/FileHandler',
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.indexOf("<div class='toast") !== -1) {
                        $('.toast-container').append(data);
                        var toaster = toast[0];
                        var toasty = new bootstrap.Toast(toaster);
                        toasty.show();
                    } else {
                        showToast("Data Stored Successfully", 'success');
                        $('#importFile').val('');
                        setTimeout(function () {
                            $('.toast').toast('hide');
                        }, 1000);
                    }
                },
                error: function () {
                    showToast('Failed To Upload', 'warning')
                }
            });
        });

        $(document).on('click', '#HeaderChkBox', function () {
            $('.selectCustomer').prop('checked', this.checked);
        });

        function List() {
            $.ajax({
                url: '/Files/List',
                type: 'GET',
                contentType: false,
                processData: false,
                success: function (data) {
                    $('#MyList').html(data);
                    $('#Upload').hide();
                    $('#MyList').show();
                },
                error: function () {
                    showToast('Failed to Import', 'warning')
                }
            })
        }

        function Clear() {
            $('#importFile').val('');
            List();
        }

        function deleteSelected() {
            var selectedEmployees = $('.selectCustomer:checked');
            if (selectedEmployees.length > 0) {
                var ids = selectedEmployees.map(function () {
                    return $(this).val();
                }).get();
                if (confirm('Are you sure you want to delete the selected employees?')) {
                    var idString = ids.join(',');
                    $.ajax({
                        url: '@Url.Action("DeleteCustomers", "Files")',
                        type: 'POST',
                        data: { ids: idString },
                        success: function (response) {
                            showToast('Deleted successfully.', 'warning');
                            List();
                        },
                        error: function(xhr, status, error) {
                            console.log(error);
                        }
                    });
                }
            } else {
                alert('Please select at least one employee to delete.');
            }
        }

        function showToast(message, type) {
            var toast =
                $(
                    '<div class="toast align-items-center text-white bg-' + type + ' border-0" role="alert" aria-live="assertive" aria-atomic="true">\
                       <div class="d-flex">\
                         <div class="toast-body">\
                           ' + message + '\
                         </div>\
                         <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>\
                       </div>\
                     </div>'
                );




            $('.toast-container').append(toast);
            var toastElement = toast[0];
            var toastInstance = new bootstrap.Toast(toastElement);
            toastInstance.show();
        }

        $("#UploadBtn_Lay").click(function () {
            $("#UploadBtn_Lay").hide();
            $('#MyList').hide();
            $('#Upload').show();
            $("#Delete_Lay").hide();
            $("#btnCancel_Lay").show();
            $("#btnUpload").show();
          });

        $("#btnCancel_Lay").click(function () {
            $("#btnCancel_Lay").hide();
            $("#btnUpload").hide();
            $("#UploadBtn_Lay").show();
            $("#Delete_Lay").show();
        });



    </script>
}

<div class="toast-container position-fixed bottom-0 end-0 p-3">

</div>
